@charset "UTF-8";
/* ===== scss settings =============================================
   For Wanpi no Mahou
   ==================================================================== */
/* ===== mixin =============================================
   ==================================================================== */
/* ===== Main style =============================================
	 Author: Onepi-no-Maho
	 ==================================================================== */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans" , "Helvetica Neue" , Helvetica , Arial, "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 1.4rem;
  font-smoothing: antialiased;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 1; }

a {
  transition: .2s ease-in-out; }
  a:hover {
    transition: .2s ease-in-out; }

.l-header {
  position: relative;
  min-width: 960px; }

.l-content {
  margin: 0 auto; }
  .l-content--legacy {
    width: 960px; }

.l-footer {
  clear: both;
  width: 100%;
  background: #65504e url(/user_data/img/bg_noise.png);
  transform: translateY(60px); }

#pw_header h1 {
  background: #c77485; }

.header__logo {
  display: inline-block;
  vertical-align: top;
  width: 204px;
  height: 80px;
  overflow: hidden; }

.header__logo__item {
  background: none;
  padding: 0;
  width: 194px;
  margin: 10px 0 10px 10px;
  height: 60px;
  box-sizing: border-box; }
  .header__logo__item a {
    display: block; }
  .header__logo__item img {
    width: 100%;
    height: auto;
    display: block; }

#left img {
  display: block; }

/* ==========================================================================
   G nav
   ========================================================================== */
.mainnav {
  padding: 0 0 10px; }
  .mainnav__grp {
    display: table;
    table-layout: fixed;
    width: 100%; }
  .mainnav__item {
    display: table-cell;
    position: relative; }
    .mainnav__item::after {
      width: 1px;
      height: 100%;
      content: '';
      border-right: 1px solid #fff;
      position: absolute;
      top: 0;
      right: 0; }
  .mainnav__link {
    display: block;
    background: #65504e;
    color: #eee;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-font-feature-settings: "pkna";
            font-feature-settings: "pkna";
    letter-spacing: 1px;
    position: relative; }
    .mainnav__link:visited {
      color: #fff; }
    .mainnav__link:hover {
      text-decoration: none;
      color: #fff;
      background: #543f3d; }
    .mainnav__link--current {
      background: #c77485; }
      .mainnav__link--current:hover {
        background: #c77485; }
    .mainnav__link::before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      border-top: 1px dotted #f7eeda;
      top: 2px;
      z-index: 1; }
    .mainnav__link::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      border-top: 1px dotted #f7eeda;
      bottom: 2px;
      z-index: 1; }

/* ==========================================================================
   カートボタン周り
   ========================================================================== */
.header__mypagenav {
  position: absolute;
  top: 32px;
  right: 10px; }
  .header__mypagenav__grp {
    font-size: 0;
    margin: 10px 0 0; }
  .header__mypagenav__item {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-size: 1.3rem;
    margin: 0 0 0 5px;
    position: relative; }
    .header__mypagenav__item:first-child {
      margin-left: 0; }
  .header__mypagenav__link {
    display: block;
    background: #fff;
    height: 32px;
    line-height: 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    text-indent: 1.8em;
    color: #65504e; }
    .header__mypagenav__link:hover {
      color: #65504e;
      background: #f2ecdd;
      text-decoration: none; }
    .header__mypagenav__link:visited {
      color: #65504e; }
    .header__mypagenav__link--enroll {
      width: 130px; }
      .header__mypagenav__link--enroll::before {
        content: '';
        background: url(/user_data/img/icon_enroll.svg) no-repeat;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        width: 20px;
        height: 16px; }
    .header__mypagenav__link--logout {
      width: 130px; }
      .header__mypagenav__link--logout::before {
        content: '';
        background: url(/user_data/img/icon_logout.svg) no-repeat;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px; }
    .header__mypagenav__link--my {
      width: 130px; }
      .header__mypagenav__link--my::before {
        content: '';
        background: url(/user_data/img/icon_lady.svg) no-repeat;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 22px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px; }
    .header__mypagenav__link--fav {
      width: 132px; }
      .header__mypagenav__link--fav::before {
        content: '';
        background: url(/user_data/img/icon_heart.svg) no-repeat;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 21px;
        transform: translateY(-50%);
        width: 20px;
        height: 16px; }
    .header__mypagenav__link--cart {
      width: 158px;
      border-color: #f05242;
      background: #f05242;
      color: #fff; }
      .header__mypagenav__link--cart::before {
        content: '';
        background: url(/user_data/img/icon_cart_white.svg) no-repeat;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px; }
      .header__mypagenav__link--cart:hover {
        color: #fff;
        background: #df4131; }
      .header__mypagenav__link--cart:visited {
        color: #fff; }

.fukidashi {
  position: absolute;
  background: #fff;
  display: block;
  border: #ded2b3 1px solid;
  border-radius: 6px;
  top: -100%;
  left: 0;
  width: 132px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 22px;
  height: 24px;
  box-sizing: border-box; }
  .fukidashi--cart {
    width: 158px; }
  .fukidashi::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 50%;
    bottom: -7px;
    border-top: 7px solid #ded2b3;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: translateX(50%); }
  .fukidashi::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 50%;
    bottom: -5px;
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: translateX(50%); }

/* ==========================================================================
   footer
   ========================================================================== */
.footer__inner {
  width: 1174px;
  padding: 20px 20px 0;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; }

.footer__guide {
  font-size: 0;
  padding: 0 0 30px; }
  .footer__guide__elm {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-size: 1.5rem;
    width: 358px;
    min-height: 353px;
    margin: 0 30px 0 0;
    background: #f2ecdd;
    border-radius: 6px;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
    .footer__guide__elm:nth-child(3n+3) {
      margin-right: 0; }
    .footer__guide__elm p {
      line-height: 1.6; }
  .footer__guide__head {
    padding: 2px 0;
    background: #ded2b3 url(/user_data/img/bg_noise.png);
    margin: 0 -25px 12px;
    width: 368px;
    box-sizing: border-box; }
  .footer__guide__title {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    border-top: 1px dashed #f8f6f4;
    border-bottom: 1px dashed #f8f6f4;
    color: #65504e;
    padding: 12px 10px;
    box-sizing: border-box; }

.footer__sitelink {
  padding: 0 0 30px; }
  .footer__sitelink__title {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0 0 12px;
    color: #f8f6f4;
    display: inline-block; }
    .footer__sitelink__title::after {
      content: '';
      display: inline-block;
      vertical-align: top;
      background: #c77485 url(/user_data/img/bg_noise.png);
      width: auto;
      height: 4px;
      display: block;
      margin: -3px 0 0; }
  .footer__sitelink__grp {
    font-size: 0; }
  .footer__sitelink__item {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-size: 1.2rem;
    color: #f2ecdd;
    margin: 0 10px 5px 0; }
    .footer__sitelink__item::after {
      content: '';
      width: 1px;
      height: 10px;
      display: inline-block;
      vertical-align: top;
      border-right: 1px solid #f2ecdd;
      padding: 0 0 0 10px;
      box-sizing: border-box;
      transform: translateY(4px); }
    .footer__sitelink__item:last-child::after {
      display: none; }
    .footer__sitelink__item a {
      color: #f2ecdd; }

.footer__copyright {
  background: #f8f6f4;
  color: #65504e;
  font-size: 10px;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0; }
  .footer__copyright a {
    color: #65504e; }

/* =======================
	 title
	 ======================================================= */
.cmnsmalltitle {
  background: none;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 0 10px; }
  .cmnsmalltitle::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    background: #f57979;
    border-radius: 50%;
    margin: 0 5px 0 0;
    box-sizing: border-box;
    transform: translateY(1px); }

/* =======================
	 Advice telephone
	 ======================================================= */
.advicetel {
  background: #f2ecdd url(/user_data/img/bg_noise.png);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0px 30px 12px;
  box-sizing: border-box;
  margin: -87px 0 30px; }
  .advicetel__head {
    position: relative;
    padding: 24px 0 0;
    font-size: 0; }
    .advicetel__head__text {
      background: #fff;
      font-size: 15px;
      font-size: 1.5rem;
      color: #65504e;
      text-align: center;
      width: 290px;
      padding: 18px 0 0;
      line-height: 1.2;
      display: inline-block;
      vertical-align: top;
      height: 80px;
      box-sizing: border-box;
      z-index: 1;
      font-weight: bold; }
    .advicetel__head__main {
      color: #65504e;
      padding: 0 0 10px 10px;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 576px; }
    .advicetel__head__char {
      display: inline-block;
      vertical-align: top;
      margin: -13px 0 0 10px; }
      .advicetel__head__char img {
        width: 48px;
        height: auto; }

hr.underline {
  margin: 3px auto;
  box-shadow: 0px -6px 5px -5px #F4B3C7 inset,0px 8px 4px -8px #F4B3C7;
  width: 80%;
  border: none;
  height: 3px; }

.advicetel__head__label {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2;
  display: inline-block;
  vertical-align: top;
  padding: 13px 7px 0;
  font-weight: bold; }

.advicetel__head__telbox {
  display: inline-block; }

.advicetel__telicon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 10px 0; }
  .advicetel__telicon img {
    width: 100%;
    height: auto; }

.advicetel__head__tel {
  font-size: 60px;
  font-size: 6rem;
  font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , Garamond , "Times New Roman" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  vertical-align: top;
  line-height: 1;
  color: #f57979; }

.advicetel__head__time {
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  font-weight: bold; }

.advicetel__btnarea {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: -8px 0 0;
  width: 208px; }

/* ==========================================================================
   button & link
   ========================================================================== */
.widebtnarea {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0; }

.btnarea {
  font-size: 0;
  text-align: center; }
  .btnarea--ornamental {
    border-top: 1px dashed #65504e;
    border-bottom: 1px dashed #65504e;
    padding: 2px 0; }

.btnbox {
  display: inline-block;
  vertical-align: top; }
  .btnbox--double {
    width: calc(50% - 10px); }
  .btnbox--2col {
    width: 49%;
    margin-right: 1%; }
    .btnbox--2col:nth-child(2n+2) {
      margin-right: 0; }
  .btnbox--3col {
    width: 33%;
    margin-right: 0.5%; }
    .btnbox--3col:nth-child(2n+2) {
      margin-right: 0; }

.btn {
  font-size: 13px;
  font-size: 1.3rem;
  display: table;
  vertical-align: top;
  background: #c77485;
  color: #fff;
  border-radius: 8px;
  border: none;
  height: 37px;
  box-sizing: border-box;
  padding: 0 18px;
  position: relative;
  text-align: center;
  overflow: hidden; }
  .btn::after {
    content: '';
    display: inline-block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 7px;
    height: 7px;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -4.245px; }
  .btn:hover {
    color: #fff;
    background: #b66374;
    text-decoration: none; }
  .btn:visited {
    color: #fff; }
  .btn--min {
    width: 105px; }
  .btn--normal {
    width: 220px; }
  .btn--large {
    width: 98%;
    margin: 0 1%;
    font-size: 18px;
    font-size: 1.8rem;
    height: 50px;
    line-height: 50px; }
  .btn--hauto {
    height: auto; }
  .btn--h44 {
    height: 44px; }
  .btn--h50 {
    height: 50px; }
  .btn--full {
    width: 100%;
    font-size: 18px;
    font-size: 1.8rem;
    height: 50px;
    line-height: 50px; }
  .btn--fullmin {
    width: 100%;
    padding: 0; }
  .btn--reserve {
    background: #f05242 !important;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2) !important;
    padding: 10px !important;
    box-sizing: border-box;
    color: #fff; }
    .btn--reserve::before {
      content: url(../img/icon_cart_white.svg);
      display: inline-block;
      width: 30px;
      height: 30px; }
    .btn--reserve::after {
      display: none; }
  .btn--advicetel {
    height: 44px;
    box-sizing: border-box;
    color: #fff; }
    .btn--advicetel::before {
      content: url(../../../img/icon_tel_white.svg);
      display: inline-block;
      width: 22px;
      height: 22px;
      margin: 10px 0 0 10px;
      transform: translateX(24px); }
    .btn--advicetel::after {
      display: none; }
    .btn--advicetel:visited {
      color: #fff; }
  .btn--advicetel--mail::before {
    content: url(../../../img/icon_contact.svg);
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 13px 0 0 10px;
    transform: translateX(24px); }
  .btn--search::before {
    content: '';
    background: url(../img/icon_search_white.svg) no-repeat;
    display: inline-block;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 12px;
    left: 47px; }
  .btn--searchbycode {
    height: 38px;
    line-height: 40px; }
  .btn .ui-btn-hidden {
    display: none !important; }

.btn__label {
  height: inherit;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%; }

.btn--gray {
  background: #C1C1C1;
  border: 1px solid #65504e;
  color: #65504e; }

.btn--noarrow::after {
  display: none; }

.btn--white {
  background: #fff;
  border: 1px solid #65504e;
  color: #65504e;
  position: relative; }
  .btn--white::after {
    content: '';
    display: inline-block;
    border-right: 1px solid #65504e;
    border-bottom: 1px solid #65504e;
    width: 7px;
    height: 7px;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -4.245px; }

.btn--prev {
  position: relative; }
  .btn--prev::after {
    content: '';
    display: inline-block;
    border-right: 1px solid #65504e;
    border-bottom: 1px solid #65504e;
    width: 7px;
    height: 7px;
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    right: auto;
    left: 10px;
    margin-top: -4.245px; }

.btn--attention {
  background: #f05242 !important;
  color: #fff;
  position: relative; }
  .btn--attention::after {
    content: '';
    display: inline-block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 7px;
    height: 7px;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -4.245px; }

.btn--arrowbtn {
  color: #65504e;
  position: relative; }
  .btn--arrowbtn::after {
    content: '';
    display: inline-block;
    border-right: 1px solid #65504e;
    border-bottom: 1px solid #65504e;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -4.245px;
    top: auto;
    margin-top: 0; }

.addicon {
  width: 18px;
  height: 18px;
  position: relative;
  border: 1px solid #65504e;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%); }
  .addicon::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    border-right: 1px solid #65504e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .addicon::after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 1px;
    border-top: 1px solid #65504e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }

.closebtn {
  display: block;
  cursor: pointer;
  background: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #000;
  color: #fff;
  position: relative;
  text-align: center;
  color: #000;
  box-sizing: border-box;
  padding: 27px 0 0;
  font-size: 9px;
  font-size: 0.9rem; }
  .closebtn::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8px;
    height: 10px;
    width: 10px;
    margin: -10px 0 0;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    transform: rotate(225deg); }
  .closebtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 9px;
    height: 10px;
    width: 10px;
    margin: -10px 0 0;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    transform: rotate(45deg); }

.textlink {
  display: inline-block;
  position: relative;
  text-indent: 24px; }
  .textlink::before {
    content: '';
    display: inline-block;
    border-right: 1px solid #65504e;
    border-bottom: 1px solid #65504e;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%) rotate(-45deg); }
  .textlink::after {
    content: '';
    display: inline-block;
    border-right: 1px solid #65504e;
    border-bottom: 1px solid #65504e;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%) rotate(-45deg); }

/* =======================
	page top Btn
	======================================================= */
.btnpagetop {
  position: fixed !important;
  bottom: 20px;
  right: 20px; }
  @media only screen and (max-width: 767px) {
    .btnpagetop {
      bottom: 0; } }

.btnpagetop__link {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 10px;
  background-color: #ded2b3;
  width: 50px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  line-height: 1.5; }
  .btnpagetop__link::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    height: 12px;
    width: 12px;
    margin: 2px 0 0 -6px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(-45deg);
    transition: 0.2s ease-in-out; }
  .btnpagetop__link:hover {
    background: #c77485; }
    .btnpagetop__link:hover::after {
      top: 10px; }
  .btnpagetop__link--tosp {
    font-size: 10px;
    font-size: 1rem; }
    .btnpagetop__link--tosp::after {
      display: none; }
    .btnpagetop__link--tosp:hover {
      text-decoration: none;
      color: #fff; }

/* ==========================================================================
   Status
   ========================================================================== */
.s-highlight {
  color: #f05242; }

/* ===== Module =============================================
   Author: Tomohiro Kiuchi
   ==================================================================== */
/* ==========================================================================
   Module
   ========================================================================== */
.mauto {
  margin-right: auto !important;
  margin-left: auto !important; }

.mall0 {
  margin: 0px !important; }
  @media only screen and (max-width: 767px) {
    .mall0 {
      margin: 0px !important; } }

.mall5 {
  margin: 5px !important; }
  @media only screen and (max-width: 767px) {
    .mall5 {
      margin: 3px !important; } }

.mall10 {
  margin: 10px !important; }
  @media only screen and (max-width: 767px) {
    .mall10 {
      margin: 5px !important; } }

.mall15 {
  margin: 15px !important; }
  @media only screen and (max-width: 767px) {
    .mall15 {
      margin: 8px !important; } }

.mall20 {
  margin: 20px !important; }
  @media only screen and (max-width: 767px) {
    .mall20 {
      margin: 10px !important; } }

.mall25 {
  margin: 25px !important; }
  @media only screen and (max-width: 767px) {
    .mall25 {
      margin: 13px !important; } }

.mall30 {
  margin: 30px !important; }
  @media only screen and (max-width: 767px) {
    .mall30 {
      margin: 15px !important; } }

.mall35 {
  margin: 35px !important; }
  @media only screen and (max-width: 767px) {
    .mall35 {
      margin: 18px !important; } }

.mall40 {
  margin: 40px !important; }
  @media only screen and (max-width: 767px) {
    .mall40 {
      margin: 20px !important; } }

.mall45 {
  margin: 45px !important; }
  @media only screen and (max-width: 767px) {
    .mall45 {
      margin: 23px !important; } }

.mall50 {
  margin: 50px !important; }
  @media only screen and (max-width: 767px) {
    .mall50 {
      margin: 25px !important; } }

.mall55 {
  margin: 55px !important; }
  @media only screen and (max-width: 767px) {
    .mall55 {
      margin: 28px !important; } }

.mall60 {
  margin: 60px !important; }
  @media only screen and (max-width: 767px) {
    .mall60 {
      margin: 30px !important; } }

.mall65 {
  margin: 65px !important; }
  @media only screen and (max-width: 767px) {
    .mall65 {
      margin: 33px !important; } }

.mall70 {
  margin: 70px !important; }
  @media only screen and (max-width: 767px) {
    .mall70 {
      margin: 35px !important; } }

.mall75 {
  margin: 75px !important; }
  @media only screen and (max-width: 767px) {
    .mall75 {
      margin: 38px !important; } }

.mall80 {
  margin: 80px !important; }
  @media only screen and (max-width: 767px) {
    .mall80 {
      margin: 40px !important; } }

.mall85 {
  margin: 85px !important; }
  @media only screen and (max-width: 767px) {
    .mall85 {
      margin: 43px !important; } }

.mall90 {
  margin: 90px !important; }
  @media only screen and (max-width: 767px) {
    .mall90 {
      margin: 45px !important; } }

.mall95 {
  margin: 95px !important; }
  @media only screen and (max-width: 767px) {
    .mall95 {
      margin: 48px !important; } }

.mall100 {
  margin: 100px !important; }
  @media only screen and (max-width: 767px) {
    .mall100 {
      margin: 50px !important; } }

.mt0 {
  margin-top: 0px !important; }
  @media only screen and (max-width: 767px) {
    .mt0 {
      margin-top: 0px !important; } }

.mt5 {
  margin-top: 5px !important; }
  @media only screen and (max-width: 767px) {
    .mt5 {
      margin-top: 3px !important; } }

.mt10 {
  margin-top: 10px !important; }
  @media only screen and (max-width: 767px) {
    .mt10 {
      margin-top: 5px !important; } }

.mt15 {
  margin-top: 15px !important; }
  @media only screen and (max-width: 767px) {
    .mt15 {
      margin-top: 8px !important; } }

.mt20 {
  margin-top: 20px !important; }
  @media only screen and (max-width: 767px) {
    .mt20 {
      margin-top: 10px !important; } }

.mt25 {
  margin-top: 25px !important; }
  @media only screen and (max-width: 767px) {
    .mt25 {
      margin-top: 13px !important; } }

.mt30 {
  margin-top: 30px !important; }
  @media only screen and (max-width: 767px) {
    .mt30 {
      margin-top: 15px !important; } }

.mt35 {
  margin-top: 35px !important; }
  @media only screen and (max-width: 767px) {
    .mt35 {
      margin-top: 18px !important; } }

.mt40 {
  margin-top: 40px !important; }
  @media only screen and (max-width: 767px) {
    .mt40 {
      margin-top: 20px !important; } }

.mt45 {
  margin-top: 45px !important; }
  @media only screen and (max-width: 767px) {
    .mt45 {
      margin-top: 23px !important; } }

.mt50 {
  margin-top: 50px !important; }
  @media only screen and (max-width: 767px) {
    .mt50 {
      margin-top: 25px !important; } }

.mt55 {
  margin-top: 55px !important; }
  @media only screen and (max-width: 767px) {
    .mt55 {
      margin-top: 28px !important; } }

.mt60 {
  margin-top: 60px !important; }
  @media only screen and (max-width: 767px) {
    .mt60 {
      margin-top: 30px !important; } }

.mt65 {
  margin-top: 65px !important; }
  @media only screen and (max-width: 767px) {
    .mt65 {
      margin-top: 33px !important; } }

.mt70 {
  margin-top: 70px !important; }
  @media only screen and (max-width: 767px) {
    .mt70 {
      margin-top: 35px !important; } }

.mt75 {
  margin-top: 75px !important; }
  @media only screen and (max-width: 767px) {
    .mt75 {
      margin-top: 38px !important; } }

.mt80 {
  margin-top: 80px !important; }
  @media only screen and (max-width: 767px) {
    .mt80 {
      margin-top: 40px !important; } }

.mt85 {
  margin-top: 85px !important; }
  @media only screen and (max-width: 767px) {
    .mt85 {
      margin-top: 43px !important; } }

.mt90 {
  margin-top: 90px !important; }
  @media only screen and (max-width: 767px) {
    .mt90 {
      margin-top: 45px !important; } }

.mt95 {
  margin-top: 95px !important; }
  @media only screen and (max-width: 767px) {
    .mt95 {
      margin-top: 48px !important; } }

.mt100 {
  margin-top: 100px !important; }
  @media only screen and (max-width: 767px) {
    .mt100 {
      margin-top: 50px !important; } }

.mb0 {
  margin-bottom: 0px !important; }
  @media only screen and (max-width: 767px) {
    .mb0 {
      margin-bottom: 0px !important; } }

.mb5 {
  margin-bottom: 5px !important; }
  @media only screen and (max-width: 767px) {
    .mb5 {
      margin-bottom: 3px !important; } }

.mb10 {
  margin-bottom: 10px !important; }
  @media only screen and (max-width: 767px) {
    .mb10 {
      margin-bottom: 5px !important; } }

.mb15 {
  margin-bottom: 15px !important; }
  @media only screen and (max-width: 767px) {
    .mb15 {
      margin-bottom: 8px !important; } }

.mb20 {
  margin-bottom: 20px !important; }
  @media only screen and (max-width: 767px) {
    .mb20 {
      margin-bottom: 10px !important; } }

.mb25 {
  margin-bottom: 25px !important; }
  @media only screen and (max-width: 767px) {
    .mb25 {
      margin-bottom: 13px !important; } }

.mb30 {
  margin-bottom: 30px !important; }
  @media only screen and (max-width: 767px) {
    .mb30 {
      margin-bottom: 15px !important; } }

.mb35 {
  margin-bottom: 35px !important; }
  @media only screen and (max-width: 767px) {
    .mb35 {
      margin-bottom: 18px !important; } }

.mb40 {
  margin-bottom: 40px !important; }
  @media only screen and (max-width: 767px) {
    .mb40 {
      margin-bottom: 20px !important; } }

.mb45 {
  margin-bottom: 45px !important; }
  @media only screen and (max-width: 767px) {
    .mb45 {
      margin-bottom: 23px !important; } }

.mb50 {
  margin-bottom: 50px !important; }
  @media only screen and (max-width: 767px) {
    .mb50 {
      margin-bottom: 25px !important; } }

.mb55 {
  margin-bottom: 55px !important; }
  @media only screen and (max-width: 767px) {
    .mb55 {
      margin-bottom: 28px !important; } }

.mb60 {
  margin-bottom: 60px !important; }
  @media only screen and (max-width: 767px) {
    .mb60 {
      margin-bottom: 30px !important; } }

.mb65 {
  margin-bottom: 65px !important; }
  @media only screen and (max-width: 767px) {
    .mb65 {
      margin-bottom: 33px !important; } }

.mb70 {
  margin-bottom: 70px !important; }
  @media only screen and (max-width: 767px) {
    .mb70 {
      margin-bottom: 35px !important; } }

.mb75 {
  margin-bottom: 75px !important; }
  @media only screen and (max-width: 767px) {
    .mb75 {
      margin-bottom: 38px !important; } }

.mb80 {
  margin-bottom: 80px !important; }
  @media only screen and (max-width: 767px) {
    .mb80 {
      margin-bottom: 40px !important; } }

.mb85 {
  margin-bottom: 85px !important; }
  @media only screen and (max-width: 767px) {
    .mb85 {
      margin-bottom: 43px !important; } }

.mb90 {
  margin-bottom: 90px !important; }
  @media only screen and (max-width: 767px) {
    .mb90 {
      margin-bottom: 45px !important; } }

.mb95 {
  margin-bottom: 95px !important; }
  @media only screen and (max-width: 767px) {
    .mb95 {
      margin-bottom: 48px !important; } }

.mb100 {
  margin-bottom: 100px !important; }
  @media only screen and (max-width: 767px) {
    .mb100 {
      margin-bottom: 50px !important; } }

.mr0 {
  margin-right: 0px !important; }
  @media only screen and (max-width: 767px) {
    .mr0 {
      margin-right: 0px !important; } }

.mr5 {
  margin-right: 5px !important; }
  @media only screen and (max-width: 767px) {
    .mr5 {
      margin-right: 3px !important; } }

.mr10 {
  margin-right: 10px !important; }
  @media only screen and (max-width: 767px) {
    .mr10 {
      margin-right: 5px !important; } }

.mr15 {
  margin-right: 15px !important; }
  @media only screen and (max-width: 767px) {
    .mr15 {
      margin-right: 8px !important; } }

.mr20 {
  margin-right: 20px !important; }
  @media only screen and (max-width: 767px) {
    .mr20 {
      margin-right: 10px !important; } }

.mr25 {
  margin-right: 25px !important; }
  @media only screen and (max-width: 767px) {
    .mr25 {
      margin-right: 13px !important; } }

.mr30 {
  margin-right: 30px !important; }
  @media only screen and (max-width: 767px) {
    .mr30 {
      margin-right: 15px !important; } }

.mr35 {
  margin-right: 35px !important; }
  @media only screen and (max-width: 767px) {
    .mr35 {
      margin-right: 18px !important; } }

.mr40 {
  margin-right: 40px !important; }
  @media only screen and (max-width: 767px) {
    .mr40 {
      margin-right: 20px !important; } }

.mr45 {
  margin-right: 45px !important; }
  @media only screen and (max-width: 767px) {
    .mr45 {
      margin-right: 23px !important; } }

.mr50 {
  margin-right: 50px !important; }
  @media only screen and (max-width: 767px) {
    .mr50 {
      margin-right: 25px !important; } }

.mr55 {
  margin-right: 55px !important; }
  @media only screen and (max-width: 767px) {
    .mr55 {
      margin-right: 28px !important; } }

.mr60 {
  margin-right: 60px !important; }
  @media only screen and (max-width: 767px) {
    .mr60 {
      margin-right: 30px !important; } }

.mr65 {
  margin-right: 65px !important; }
  @media only screen and (max-width: 767px) {
    .mr65 {
      margin-right: 33px !important; } }

.mr70 {
  margin-right: 70px !important; }
  @media only screen and (max-width: 767px) {
    .mr70 {
      margin-right: 35px !important; } }

.mr75 {
  margin-right: 75px !important; }
  @media only screen and (max-width: 767px) {
    .mr75 {
      margin-right: 38px !important; } }

.mr80 {
  margin-right: 80px !important; }
  @media only screen and (max-width: 767px) {
    .mr80 {
      margin-right: 40px !important; } }

.mr85 {
  margin-right: 85px !important; }
  @media only screen and (max-width: 767px) {
    .mr85 {
      margin-right: 43px !important; } }

.mr90 {
  margin-right: 90px !important; }
  @media only screen and (max-width: 767px) {
    .mr90 {
      margin-right: 45px !important; } }

.mr95 {
  margin-right: 95px !important; }
  @media only screen and (max-width: 767px) {
    .mr95 {
      margin-right: 48px !important; } }

.mr100 {
  margin-right: 100px !important; }
  @media only screen and (max-width: 767px) {
    .mr100 {
      margin-right: 50px !important; } }

.ml0 {
  margin-left: 0px !important; }
  @media only screen and (max-width: 767px) {
    .ml0 {
      margin-left: 0px !important; } }

.ml5 {
  margin-left: 5px !important; }
  @media only screen and (max-width: 767px) {
    .ml5 {
      margin-left: 3px !important; } }

.ml10 {
  margin-left: 10px !important; }
  @media only screen and (max-width: 767px) {
    .ml10 {
      margin-left: 5px !important; } }

.ml15 {
  margin-left: 15px !important; }
  @media only screen and (max-width: 767px) {
    .ml15 {
      margin-left: 8px !important; } }

.ml20 {
  margin-left: 20px !important; }
  @media only screen and (max-width: 767px) {
    .ml20 {
      margin-left: 10px !important; } }

.ml25 {
  margin-left: 25px !important; }
  @media only screen and (max-width: 767px) {
    .ml25 {
      margin-left: 13px !important; } }

.ml30 {
  margin-left: 30px !important; }
  @media only screen and (max-width: 767px) {
    .ml30 {
      margin-left: 15px !important; } }

.ml35 {
  margin-left: 35px !important; }
  @media only screen and (max-width: 767px) {
    .ml35 {
      margin-left: 18px !important; } }

.ml40 {
  margin-left: 40px !important; }
  @media only screen and (max-width: 767px) {
    .ml40 {
      margin-left: 20px !important; } }

.ml45 {
  margin-left: 45px !important; }
  @media only screen and (max-width: 767px) {
    .ml45 {
      margin-left: 23px !important; } }

.ml50 {
  margin-left: 50px !important; }
  @media only screen and (max-width: 767px) {
    .ml50 {
      margin-left: 25px !important; } }

.ml55 {
  margin-left: 55px !important; }
  @media only screen and (max-width: 767px) {
    .ml55 {
      margin-left: 28px !important; } }

.ml60 {
  margin-left: 60px !important; }
  @media only screen and (max-width: 767px) {
    .ml60 {
      margin-left: 30px !important; } }

.ml65 {
  margin-left: 65px !important; }
  @media only screen and (max-width: 767px) {
    .ml65 {
      margin-left: 33px !important; } }

.ml70 {
  margin-left: 70px !important; }
  @media only screen and (max-width: 767px) {
    .ml70 {
      margin-left: 35px !important; } }

.ml75 {
  margin-left: 75px !important; }
  @media only screen and (max-width: 767px) {
    .ml75 {
      margin-left: 38px !important; } }

.ml80 {
  margin-left: 80px !important; }
  @media only screen and (max-width: 767px) {
    .ml80 {
      margin-left: 40px !important; } }

.ml85 {
  margin-left: 85px !important; }
  @media only screen and (max-width: 767px) {
    .ml85 {
      margin-left: 43px !important; } }

.ml90 {
  margin-left: 90px !important; }
  @media only screen and (max-width: 767px) {
    .ml90 {
      margin-left: 45px !important; } }

.ml95 {
  margin-left: 95px !important; }
  @media only screen and (max-width: 767px) {
    .ml95 {
      margin-left: 48px !important; } }

.ml100 {
  margin-left: 100px !important; }
  @media only screen and (max-width: 767px) {
    .ml100 {
      margin-left: 50px !important; } }

/*--------------------
 *    padding
 *--------------------*/
.pall0 {
  padding: 0px !important; }
  @media only screen and (max-width: 767px) {
    .pall0 {
      padding: 0px !important; } }

.pall5 {
  padding: 5px !important; }
  @media only screen and (max-width: 767px) {
    .pall5 {
      padding: 3px !important; } }

.pall10 {
  padding: 10px !important; }
  @media only screen and (max-width: 767px) {
    .pall10 {
      padding: 5px !important; } }

.pall15 {
  padding: 15px !important; }
  @media only screen and (max-width: 767px) {
    .pall15 {
      padding: 8px !important; } }

.pall20 {
  padding: 20px !important; }
  @media only screen and (max-width: 767px) {
    .pall20 {
      padding: 10px !important; } }

.pall25 {
  padding: 25px !important; }
  @media only screen and (max-width: 767px) {
    .pall25 {
      padding: 13px !important; } }

.pall30 {
  padding: 30px !important; }
  @media only screen and (max-width: 767px) {
    .pall30 {
      padding: 15px !important; } }

.pall35 {
  padding: 35px !important; }
  @media only screen and (max-width: 767px) {
    .pall35 {
      padding: 18px !important; } }

.pall40 {
  padding: 40px !important; }
  @media only screen and (max-width: 767px) {
    .pall40 {
      padding: 20px !important; } }

.pall45 {
  padding: 45px !important; }
  @media only screen and (max-width: 767px) {
    .pall45 {
      padding: 23px !important; } }

.pall50 {
  padding: 50px !important; }
  @media only screen and (max-width: 767px) {
    .pall50 {
      padding: 25px !important; } }

.pall55 {
  padding: 55px !important; }
  @media only screen and (max-width: 767px) {
    .pall55 {
      padding: 28px !important; } }

.pall60 {
  padding: 60px !important; }
  @media only screen and (max-width: 767px) {
    .pall60 {
      padding: 30px !important; } }

.pall65 {
  padding: 65px !important; }
  @media only screen and (max-width: 767px) {
    .pall65 {
      padding: 33px !important; } }

.pall70 {
  padding: 70px !important; }
  @media only screen and (max-width: 767px) {
    .pall70 {
      padding: 35px !important; } }

.pall75 {
  padding: 75px !important; }
  @media only screen and (max-width: 767px) {
    .pall75 {
      padding: 38px !important; } }

.pall80 {
  padding: 80px !important; }
  @media only screen and (max-width: 767px) {
    .pall80 {
      padding: 40px !important; } }

.pall85 {
  padding: 85px !important; }
  @media only screen and (max-width: 767px) {
    .pall85 {
      padding: 43px !important; } }

.pall90 {
  padding: 90px !important; }
  @media only screen and (max-width: 767px) {
    .pall90 {
      padding: 45px !important; } }

.pall95 {
  padding: 95px !important; }
  @media only screen and (max-width: 767px) {
    .pall95 {
      padding: 48px !important; } }

.pall100 {
  padding: 100px !important; }
  @media only screen and (max-width: 767px) {
    .pall100 {
      padding: 50px !important; } }

.pt0 {
  padding-top: 0px !important; }
  @media only screen and (max-width: 767px) {
    .pt0 {
      padding-top: 0px !important; } }

.pt5 {
  padding-top: 5px !important; }
  @media only screen and (max-width: 767px) {
    .pt5 {
      padding-top: 3px !important; } }

.pt10 {
  padding-top: 10px !important; }
  @media only screen and (max-width: 767px) {
    .pt10 {
      padding-top: 5px !important; } }

.pt15 {
  padding-top: 15px !important; }
  @media only screen and (max-width: 767px) {
    .pt15 {
      padding-top: 8px !important; } }

.pt20 {
  padding-top: 20px !important; }
  @media only screen and (max-width: 767px) {
    .pt20 {
      padding-top: 10px !important; } }

.pt25 {
  padding-top: 25px !important; }
  @media only screen and (max-width: 767px) {
    .pt25 {
      padding-top: 13px !important; } }

.pt30 {
  padding-top: 30px !important; }
  @media only screen and (max-width: 767px) {
    .pt30 {
      padding-top: 15px !important; } }

.pt35 {
  padding-top: 35px !important; }
  @media only screen and (max-width: 767px) {
    .pt35 {
      padding-top: 18px !important; } }

.pt40 {
  padding-top: 40px !important; }
  @media only screen and (max-width: 767px) {
    .pt40 {
      padding-top: 20px !important; } }

.pt45 {
  padding-top: 45px !important; }
  @media only screen and (max-width: 767px) {
    .pt45 {
      padding-top: 23px !important; } }

.pt50 {
  padding-top: 50px !important; }
  @media only screen and (max-width: 767px) {
    .pt50 {
      padding-top: 25px !important; } }

.pt55 {
  padding-top: 55px !important; }
  @media only screen and (max-width: 767px) {
    .pt55 {
      padding-top: 28px !important; } }

.pt60 {
  padding-top: 60px !important; }
  @media only screen and (max-width: 767px) {
    .pt60 {
      padding-top: 30px !important; } }

.pt65 {
  padding-top: 65px !important; }
  @media only screen and (max-width: 767px) {
    .pt65 {
      padding-top: 33px !important; } }

.pt70 {
  padding-top: 70px !important; }
  @media only screen and (max-width: 767px) {
    .pt70 {
      padding-top: 35px !important; } }

.pt75 {
  padding-top: 75px !important; }
  @media only screen and (max-width: 767px) {
    .pt75 {
      padding-top: 38px !important; } }

.pt80 {
  padding-top: 80px !important; }
  @media only screen and (max-width: 767px) {
    .pt80 {
      padding-top: 40px !important; } }

.pt85 {
  padding-top: 85px !important; }
  @media only screen and (max-width: 767px) {
    .pt85 {
      padding-top: 43px !important; } }

.pt90 {
  padding-top: 90px !important; }
  @media only screen and (max-width: 767px) {
    .pt90 {
      padding-top: 45px !important; } }

.pt95 {
  padding-top: 95px !important; }
  @media only screen and (max-width: 767px) {
    .pt95 {
      padding-top: 48px !important; } }

.pt100 {
  padding-top: 100px !important; }
  @media only screen and (max-width: 767px) {
    .pt100 {
      padding-top: 50px !important; } }

.pb0 {
  padding-bottom: 0px !important; }
  @media only screen and (max-width: 767px) {
    .pb0 {
      padding-bottom: 0px !important; } }

.pb5 {
  padding-bottom: 5px !important; }
  @media only screen and (max-width: 767px) {
    .pb5 {
      padding-bottom: 3px !important; } }

.pb10 {
  padding-bottom: 10px !important; }
  @media only screen and (max-width: 767px) {
    .pb10 {
      padding-bottom: 5px !important; } }

.pb15 {
  padding-bottom: 15px !important; }
  @media only screen and (max-width: 767px) {
    .pb15 {
      padding-bottom: 8px !important; } }

.pb20 {
  padding-bottom: 20px !important; }
  @media only screen and (max-width: 767px) {
    .pb20 {
      padding-bottom: 10px !important; } }

.pb25 {
  padding-bottom: 25px !important; }
  @media only screen and (max-width: 767px) {
    .pb25 {
      padding-bottom: 13px !important; } }

.pb30 {
  padding-bottom: 30px !important; }
  @media only screen and (max-width: 767px) {
    .pb30 {
      padding-bottom: 15px !important; } }

.pb35 {
  padding-bottom: 35px !important; }
  @media only screen and (max-width: 767px) {
    .pb35 {
      padding-bottom: 18px !important; } }

.pb40 {
  padding-bottom: 40px !important; }
  @media only screen and (max-width: 767px) {
    .pb40 {
      padding-bottom: 20px !important; } }

.pb45 {
  padding-bottom: 45px !important; }
  @media only screen and (max-width: 767px) {
    .pb45 {
      padding-bottom: 23px !important; } }

.pb50 {
  padding-bottom: 50px !important; }
  @media only screen and (max-width: 767px) {
    .pb50 {
      padding-bottom: 25px !important; } }

.pb55 {
  padding-bottom: 55px !important; }
  @media only screen and (max-width: 767px) {
    .pb55 {
      padding-bottom: 28px !important; } }

.pb60 {
  padding-bottom: 60px !important; }
  @media only screen and (max-width: 767px) {
    .pb60 {
      padding-bottom: 30px !important; } }

.pb65 {
  padding-bottom: 65px !important; }
  @media only screen and (max-width: 767px) {
    .pb65 {
      padding-bottom: 33px !important; } }

.pb70 {
  padding-bottom: 70px !important; }
  @media only screen and (max-width: 767px) {
    .pb70 {
      padding-bottom: 35px !important; } }

.pb75 {
  padding-bottom: 75px !important; }
  @media only screen and (max-width: 767px) {
    .pb75 {
      padding-bottom: 38px !important; } }

.pb80 {
  padding-bottom: 80px !important; }
  @media only screen and (max-width: 767px) {
    .pb80 {
      padding-bottom: 40px !important; } }

.pb85 {
  padding-bottom: 85px !important; }
  @media only screen and (max-width: 767px) {
    .pb85 {
      padding-bottom: 43px !important; } }

.pb90 {
  padding-bottom: 90px !important; }
  @media only screen and (max-width: 767px) {
    .pb90 {
      padding-bottom: 45px !important; } }

.pb95 {
  padding-bottom: 95px !important; }
  @media only screen and (max-width: 767px) {
    .pb95 {
      padding-bottom: 48px !important; } }

.pb100 {
  padding-bottom: 100px !important; }
  @media only screen and (max-width: 767px) {
    .pb100 {
      padding-bottom: 50px !important; } }

.pr0 {
  padding-right: 0px !important; }
  @media only screen and (max-width: 767px) {
    .pr0 {
      padding-right: 0px !important; } }

.pr5 {
  padding-right: 5px !important; }
  @media only screen and (max-width: 767px) {
    .pr5 {
      padding-right: 3px !important; } }

.pr10 {
  padding-right: 10px !important; }
  @media only screen and (max-width: 767px) {
    .pr10 {
      padding-right: 5px !important; } }

.pr15 {
  padding-right: 15px !important; }
  @media only screen and (max-width: 767px) {
    .pr15 {
      padding-right: 8px !important; } }

.pr20 {
  padding-right: 20px !important; }
  @media only screen and (max-width: 767px) {
    .pr20 {
      padding-right: 10px !important; } }

.pr25 {
  padding-right: 25px !important; }
  @media only screen and (max-width: 767px) {
    .pr25 {
      padding-right: 13px !important; } }

.pr30 {
  padding-right: 30px !important; }
  @media only screen and (max-width: 767px) {
    .pr30 {
      padding-right: 15px !important; } }

.pr35 {
  padding-right: 35px !important; }
  @media only screen and (max-width: 767px) {
    .pr35 {
      padding-right: 18px !important; } }

.pr40 {
  padding-right: 40px !important; }
  @media only screen and (max-width: 767px) {
    .pr40 {
      padding-right: 20px !important; } }

.pr45 {
  padding-right: 45px !important; }
  @media only screen and (max-width: 767px) {
    .pr45 {
      padding-right: 23px !important; } }

.pr50 {
  padding-right: 50px !important; }
  @media only screen and (max-width: 767px) {
    .pr50 {
      padding-right: 25px !important; } }

.pr55 {
  padding-right: 55px !important; }
  @media only screen and (max-width: 767px) {
    .pr55 {
      padding-right: 28px !important; } }

.pr60 {
  padding-right: 60px !important; }
  @media only screen and (max-width: 767px) {
    .pr60 {
      padding-right: 30px !important; } }

.pr65 {
  padding-right: 65px !important; }
  @media only screen and (max-width: 767px) {
    .pr65 {
      padding-right: 33px !important; } }

.pr70 {
  padding-right: 70px !important; }
  @media only screen and (max-width: 767px) {
    .pr70 {
      padding-right: 35px !important; } }

.pr75 {
  padding-right: 75px !important; }
  @media only screen and (max-width: 767px) {
    .pr75 {
      padding-right: 38px !important; } }

.pr80 {
  padding-right: 80px !important; }
  @media only screen and (max-width: 767px) {
    .pr80 {
      padding-right: 40px !important; } }

.pr85 {
  padding-right: 85px !important; }
  @media only screen and (max-width: 767px) {
    .pr85 {
      padding-right: 43px !important; } }

.pr90 {
  padding-right: 90px !important; }
  @media only screen and (max-width: 767px) {
    .pr90 {
      padding-right: 45px !important; } }

.pr95 {
  padding-right: 95px !important; }
  @media only screen and (max-width: 767px) {
    .pr95 {
      padding-right: 48px !important; } }

.pr100 {
  padding-right: 100px !important; }
  @media only screen and (max-width: 767px) {
    .pr100 {
      padding-right: 50px !important; } }

.pl0 {
  padding-left: 0px !important; }
  @media only screen and (max-width: 767px) {
    .pl0 {
      padding-left: 0px !important; } }

.pl5 {
  padding-left: 5px !important; }
  @media only screen and (max-width: 767px) {
    .pl5 {
      padding-left: 3px !important; } }

.pl10 {
  padding-left: 10px !important; }
  @media only screen and (max-width: 767px) {
    .pl10 {
      padding-left: 5px !important; } }

.pl15 {
  padding-left: 15px !important; }
  @media only screen and (max-width: 767px) {
    .pl15 {
      padding-left: 8px !important; } }

.pl20 {
  padding-left: 20px !important; }
  @media only screen and (max-width: 767px) {
    .pl20 {
      padding-left: 10px !important; } }

.pl25 {
  padding-left: 25px !important; }
  @media only screen and (max-width: 767px) {
    .pl25 {
      padding-left: 13px !important; } }

.pl30 {
  padding-left: 30px !important; }
  @media only screen and (max-width: 767px) {
    .pl30 {
      padding-left: 15px !important; } }

.pl35 {
  padding-left: 35px !important; }
  @media only screen and (max-width: 767px) {
    .pl35 {
      padding-left: 18px !important; } }

.pl40 {
  padding-left: 40px !important; }
  @media only screen and (max-width: 767px) {
    .pl40 {
      padding-left: 20px !important; } }

.pl45 {
  padding-left: 45px !important; }
  @media only screen and (max-width: 767px) {
    .pl45 {
      padding-left: 23px !important; } }

.pl50 {
  padding-left: 50px !important; }
  @media only screen and (max-width: 767px) {
    .pl50 {
      padding-left: 25px !important; } }

.pl55 {
  padding-left: 55px !important; }
  @media only screen and (max-width: 767px) {
    .pl55 {
      padding-left: 28px !important; } }

.pl60 {
  padding-left: 60px !important; }
  @media only screen and (max-width: 767px) {
    .pl60 {
      padding-left: 30px !important; } }

.pl65 {
  padding-left: 65px !important; }
  @media only screen and (max-width: 767px) {
    .pl65 {
      padding-left: 33px !important; } }

.pl70 {
  padding-left: 70px !important; }
  @media only screen and (max-width: 767px) {
    .pl70 {
      padding-left: 35px !important; } }

.pl75 {
  padding-left: 75px !important; }
  @media only screen and (max-width: 767px) {
    .pl75 {
      padding-left: 38px !important; } }

.pl80 {
  padding-left: 80px !important; }
  @media only screen and (max-width: 767px) {
    .pl80 {
      padding-left: 40px !important; } }

.pl85 {
  padding-left: 85px !important; }
  @media only screen and (max-width: 767px) {
    .pl85 {
      padding-left: 43px !important; } }

.pl90 {
  padding-left: 90px !important; }
  @media only screen and (max-width: 767px) {
    .pl90 {
      padding-left: 45px !important; } }

.pl95 {
  padding-left: 95px !important; }
  @media only screen and (max-width: 767px) {
    .pl95 {
      padding-left: 48px !important; } }

.pl100 {
  padding-left: 100px !important; }
  @media only screen and (max-width: 767px) {
    .pl100 {
      padding-left: 50px !important; } }

/*	font-size
------------------------------------*/
.small {
  font-size: 12px;
  font-size: 1.2rem; }

.large {
  font-size: 20px;
  font-size: 2rem; }

.x-large {
  font-size: 28px;
  font-size: 2.8rem; }

.fs12 {
  font-size: 12px;
  font-size: 1.2rem; }

.fs14 {
  font-size: 14px;
  font-size: 1.4rem; }

/*  color
------------------------------------*/
.colorpink {
  color: #f57979; }

/*	text lifter
------------------------------------*/
.bold {
  font-weight: bold; }

.txtc {
  text-align: center; }

.txtl {
  text-align: left; }

.txtr {
  text-align: right; }

/*  images
------------------------------------*/
.widthfull {
  width: 100%;
  height: auto;
  display: block; }

/*	float
------------------------------------*/
.fleft {
  float: left; }

.fright {
  float: right; }

.fclear {
  clear: both; }

.fnone {
  float: none !important; }

/*	clearfix
------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
