/* CSS Document */
.ui-datepicker {
  /* display: none;
 */ }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 1em 0; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px; }

.ui-datepicker .ui-datepicker-header {
  display: none; }

.ui-datepicker .ui-datepicker-prev {
  display: none; }

.ui-datepicker .ui-datepicker-next {
  display: none; }

.ui-datepicker .ui-datepicker-prev-hover {
  display: none; }

.ui-datepicker .ui-datepicker-next-hover {
  display: none; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 0;
  text-align: center; }

.ui-datepicker .ui-datepicker-title {
  display: none; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker table {
  width: 100%;
  /* height: 280px; */
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

.ui-datepicker td {
  border: 0;}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0em; }

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  display: none;
  /*sorry for IE5*/
  display/**/: block;
  /*sorry for IE5*/
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/ }

.searchWrap form table td.day {
  display: inline-block;
  width: 96%;
  background-color: #fff;
  text-align: center; }

.searchWrap form table td.day select {
  visibility: hidden; }

.ui-datepicker, .ui-datepicker-days-cell {
  display: inline-table;
  border: none; }

.searchWrap form table.ui-datepicker {
  border: 2px solid #451213 !important;
  width: 293px;
  font-weight: bold; }

.ui-datepicker th, .ui-datepicker td {
  /*2014/01/16 pwb Add*/
  border: 1px solid #ccc;
  /*Add End*/
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.ui-datepicker thead td, .ui-datepicker th:last-child, .ui-datepicker td:last-child {
  border-right: none !important; }

.ui-datepicker thead td {
  border-right: 1px solid #fff !important; }

.ui-datepicker td {
  /* 2014/01/16 pwb Update End	display: inline-block!important;
	*/
  width: 17px;
  text-align: center;
  line-height: 30px;
  font-size: 13px; }

/* 2014/01/16 pwb Add */
.ui-datepicker table {
  border: solid #ccc 2px; }

/*Add End*/
/* 2014/01/16 pwb Update End*/
.ui-datepicker thead th {
  width: 17px;
  background: #fff;
  border: none;
  border-top: solid #ccc 1px;
  border-bottom: solid #ccc 1px;
  color: #451213;
  text-align: center;
  font-size: 13px; }

.ui-datepicker td .ui-datepicker-week-end {
  color: #451213; }

/*update  End*/
.ui-datepicker .ui-datepicker-week-end-cell {
  width: 64px;
  display: inline-block !important; }

.tab_box20130315 select, .tab_box20130315 label {
  background: none;
  border: none; }

#tabs20130315 ul {
  /*2014/01/28 pwb update width: 293px;
*/
  /*2014/02/15 pwb update margin: 0 auto 5px;
*/
  text-align: left; }

#tabs20130315 li {
  float: left;
  margin-right: 10px; }

#tabs20130315 li a {
  color: #451213;
  /*2014/02/15 pwb update*/
  text-decoration: underline; }

/*2014/02/15 pwb update#tabs20130315 li.active{	margin-top: -4px;
}*/
.hasDatepicker + img, .ui-datepicker-links {
  display: none !important; }

.ui-datepicker-unselectable {
  /*2014/01/16 pwb Del 	background-color: #ccc!important;
	*/ }

.ui-state-gray {
  width: 80%;
  height: 80%;
  background: #d6d6d6; }

.ui-datepicker-days-cell a {
  text-decoration: underline; }

#calendar_lbl {
  margin: 10px auto; }

#calendar_lbl_non {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 1pt;
  color: #FF3333; }

.table0420130315 {
  border: none !important;
  border-collapse: separate !important;
  border-spacing: 2px;}

/*
.left20130315, .right20130315 {
  padding: 6px !important;
  border: 1px solid #ccc; }

.left20130315 {
  background-color: #f2ecdd !important;
  color: #666;
  display: inline-block;
  width: 28%;
  float: left;
  height: 21px;
  font-weight: bold; }

.right20130315 {
  background-color: #eee !important;
  color: #777;
  font-weight: bold;
  float: left;
  width: 64%;
  height:21px; }
*/
/*20210118 ogi*/
.ui-datepicker-title-row {
  background-color: #fff; }

.ui-datepicker-title-row td {
  padding: 2% !important; }
/*
.right20130315 input {
  width: 94%;
  background-color: #eee;
  border: none;
  color: #555;
  font-weight: bold;
  margin: 0;
  padding-top: 4px }
/*
/*2014/01/16 pwb Del.ui-datepicker td{	padding: 5px!important;
}*/
.ui-datepicker-title-row td {
  padding: 0px 5px !important; }

.ui-datepicker tbody .ui-datepicker-days-row:last-child {
  border-bottom: none; }

/*calader pwb Add 2014/01/16 */
.reservedInner {
  padding: 0px 2%;
  overflow: hidden; }

.reservedInner img {
  float: left;
  margin: 0 20px 0 10px; }

.reservedInner p {
  color: #000;
  line-height: 16px; }

.furigana {
  font-size: 10px; }

.cord {
  font-size: 12px; }

#calender .buttonArea a {
  font-size: 100%;
  float: none;
  padding: 16px 30px; }

.calenderInner {
  width: 304px; }

.calenderInner ul:first-child, .calenderInner ul:last-child {
  margin-top: 1px;
  /*5px;
 */
  overflow: hidden; }

.calenderInner ul:first-child li {
  font-size: 11px;
  float: left;
  width: 85px;
  border-right: solid 2px #ccc;
  padding: 4px 7px; }

.calenderInner ul:first-child li:last-child {
  border: none; }

.calenderInner ul:nth-child(2), .dateBox {
  margin: 5px;
  overflow: hidden; }

.calenderInner ul:nth-child(2) li {
  font-size: 12px;
  float: left;
  margin-right: 15px;
  text-decoration: underline;
  margin-top: 5px; }

.calenderInner ul:nth-child(2) li:last-child {
  margin: 5px 0 0 0 !important; }

.available span, .Settled span, .impossible span {
  width: 27px;
  height: 13px;
  float: left;
  background-color: #fff;
  border: solid 1px #451213;
  display: block;
  margin-right: 5px; }

.Settled span {
  background-color: #cb9298; }

.impossible span {
  background-color: #ccc; }

.calender {
  width: 306px;
  margin: 0 auto;
  border: solid 2px #451213; }

.calender th, .calender td {
  font-size: 12px;
  font-weight: bold;
  width: 34px;
  padding: 5px 0;
  text-align: center;
  border-left: solid 1px #451213;
  border-bottom: solid 1px #451213; }

.week th {
  border-left: none !important;
  background-color: #fff; }

.week th:first-child {
  color: red;
  width: 65px; }

.week th:last-child {
  width: 65px; }

.day td, .day4 td, .day5 td {
  color: #999;
  background-color: #ccc; }

.day td:first-child, .day td:last-child {
  color: #451213;
  background-color: #cb9298; }

.day4 td:first-child, .day4 td:last-child, .day5 td:first-child, .day5 td:nth-child(4), .day5 td:nth-child(5), .day5 td:nth-child(6), .day5 td:nth-child(7) {
  color: #451213;
  background-color: #fff;
  text-decoration: underline; }

.dateBox div:first-child, .dateBox div:last-child {
  /*	width: 135px;
	*/
  font-size: 12px;
  font-weight: bold;
  float: left; }

.dateBox div:last-child {
  /*width: 135px;
	*/
  padding-left: 24px;}

.dateBox div:first-child p, .dateBox div:last-child p {
  margin-bottom: 5px; }

.dateBox div:first-child p:nth-child(2), .dateBox div:last-child p:nth-child(2) {
  /* 2014/02/15 pwb update width: 123px;
 */
  color: #777;
  padding: 5px;
  border: solid 1px #cb9298;
  background-color: #eee;
  text-align: center; }

#reserved {
  font-weight: bold; }

/*#reserved h2, #calender h2 {
  padding: 5px 0 5px 2%; }*/

.current {
  font-weight: bold;
  font-size: 15px !important;
  margin-top: 0 !important; }

#calender .buttonArea {
  display: inline-block;
  padding: 0;
  margin: 11px 0; }

#calender .buttonBack {
  padding: 40px 0; }

#calender .buttonBack a {
  padding: 10px 15px; }

.ui-state-gray {
  height: 80%;
  background: #d6d6d6 !important;
  opacity: 1 !important;
  filter: Alpha(Opacity=100) !important; }

/*Add End*/

@media screen and (min-width: 640px){
    .sectionInner.reservedInner {
        margin: 15px;
    }
    .sectionInner.calenderInner.mb10 {
        margin: 0 auto;
    }
    .calenderInner ul:first-child li {
        width:100px;
    }
    .pc_cldr{
width: 75%;
    display: block;
    margin-left: 15px;
    }
}
}
